{%extends 'blogapp/base.html'%}
{%block title_block%}PYTHON BLOG{%endblock%}

    {%block content_block%}
<div class="container" align="center">
    <div class="jumbotron">

  <h2>WELCOME TO PYTHON BLOG</h2>
  <p>PLEASE SELECT REQUIRED LANGUAGE</p>
  <a class="btn btn-primary btn-lg" href="/blog" role="button">Core Python</a>&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="#" role="button">Advance Python</a>&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="#" role="button">Django</a>
</div>
    </div>
    {%endblock%}