body{
background:#838ea0;


}
.jumbotron{
background:#6c6d7c;
color:white;
margin-top:140px;
margin-left:100px;
margin-right:100px;
}
.ads{
background:#3c4047;
margin-left:500px;
margin-right:500px;
border:groove 3px;
}
.fom{
margin-left:800px;
background:#3c4047;
margin-right:100px;
margin-top:100px;
border-style:groove;
}
input[type='text']{
color:block;
}
label{
color:white;
}
h2{
color:white;
