body{
background:#838ea0;


}
.jumbotron{
background:#6c6d7c;
color:white;
margin-top:100px;
margin-left:100px;
margin-right:100px;
}
.ads{
background:#3c4047;
margin-left:500px;
margin-right:500px;
border:groove 3px;
}
.fom{
margin-left:800px;
background:#3c4047;
margin-right:100px;
margin-top:100px;
border-stylse:groove;
}

input[type='text']{
color:block;

}

label{
color:white;
}
h2{
color:white;}
img{
width:100%;

height:auto;
}
p{
color:white;
}
h3{
color:white;
width:60%;
}
.content{
background:red;

width:70%;
float:left;
padding:0 0 0 10px;
text-align:80%;
}

.sidebar{
width:30%;
float:right;
background:green;
text-align=center;
}

#y{
color:yellow;
font-style:italic;
}
#b{
color:blue;
}
#c{
width:70%
}